<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Developer</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="developer.css">
</head>
<body>
     <section id="aboutme">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <h2 class="text-center"><b>Aman Jaiswal</b></h2>
               <p>I am Aman Jaiswal, final year undergraduate student from <b>IIT Kanpur</b>, pursuing B.Tech degree from Materials Science & Engineering branch.
               I have always been more interested towards solving challenging problems which makes me think so widely. I have got job offer from the <b>Zestmoney</b>
               as a <b>Software development engineer</b>.I have always been more interested in coding competitions. I also aced the <em>hackathon</em> coding challenge 
               conducted by <b>Publicis Sapient</b> and was invited on their event named "jumpstart" at Gurgaon. This webpage is all about <b>IITK Placement stats 2020</b>.
               As you can see there are 4 options i.e., POST: for registering the placement record, GET: it has 4 inner option which are <i>GETBYNAME, GETBYBRANCH, 
               GETBYPROFILE, GETBYCOMPANY</i>. I have also added a delete option and update option. For this project, Prerequisites are <i>Spring framework, Spring MVC, 
               Spring Boot, JDBC, JSON, XML, h2-database, MYSQL, Java programming language, POSTMAN, Rest API, HTML, CSS</i>. I hope, you all will love/appreciate my efforts. 
               For any suggestion, please feel free to contact me.<br><br>
               <strong>Software Developer</strong><br>
               <strong>Aman Jaiswal</strong><br>
               <strong>ph.no: 7318018608</strong><br>
               <strong>Email: amanjais@iitk.ac.in, amanjaisw2507@gmail.com</strong><br>         
               <strong>final Year UG student, IITK</strong></p>        
            </div>
            <div class="col-sm-5">
                <div class="img-wrap">
                     <img src="6 (1).jpg">
                </div>
            
            </div>
          </div>
        </div>
     </section>
</body>
</html>