<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PlacementIITK</title>
<link href="Getstep1.css" rel="stylesheet" type="text/css">
</head>
<body>
     <header>
     
           <div class="row">
               <div class="logo">
               <img src="logo.png">
               </div>
           </div>
           <div class="hero">
           <h1>STUDENT PLACEMENT RECORD</h1>
           </div>
           
           <div class="icon">
          &nbsp; <a href="fetchbyname"> GET RECORDS</a>
            </div>
            

           
           <div class="further">
           <a href="Students">FOR ALL STUDENTS RECORD CLICK HERE</a>
           </div>
     
     </header>
     
    
</body>
</html>