<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
<link href="gallery.css" rel="stylesheet" type="text/css">
</head>
<body>
     <div class="container">
                <div class="gallery">
           		      <img src="6 (1).jpg">
           		          <div class="desc">Developer: Aman Jaiswal</div>
                </div>
                <div class="gallery">
           		      <img src="2.jpg">
           		          <div class="desc">Student placement office</div>
                </div>
                <div class="gallery">
           		      <img src="6 (8).jpg">
           		          <div class="desc">Developer</div>
                </div>
                <div class="gallery">
           		      <img src="1.jpg">
           		          <div class="desc">Hall9_IITK</div>
                </div>
                <div class="gallery">
           		      <img src="3.jpg">
           		          <div class="desc">IITK Library</div>
                </div>
                <div class="gallery">
           		      <img src="6 (3).jpg">
           		          <div class="desc">Developer</div>
                </div>
                <div class="gallery">
           		      <img src="4.jpg">
           		          <div class="desc">Open Air Theatre </div>
                </div>
                <div class="gallery">
           		      <img src="5.jpg">
           		          <div class="desc">Hall13_IITK</div>
                </div>
           </div>
<footer>
All Right Reserved Web Master
</footer>
</body>
</html>