<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Students Placement Record</title>
    <link rel="stylesheet" type="text/css" href="getsecondstep.css">
<body>
      <div class="placement">
      <img src="iitk-logo1.png" class="iitk-logo1">
      		<h1>GETRECORDS</h1>
      		<form action="Students">
      		    <p>Name</p>
           		<input name='' id="INPUT" placeholder="write the name"><br>
           		<button id="Btn" style="background-color:Red ">check</button><br>
           		<div class="further"><a id="A_tag" href="/fetchbyname/Students">,<em>To get record by a student just add his name<br>
           		at the end by clicking this link</em></a></div>		
      		</form> 
      	</div>	
    <script src="app.js"></script>     		
</body>      		
</head>       
</html>