<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Students Placement Record</title>
    <link rel="stylesheet" type="text/css" href="getsecondstep.css">
<body>
      <div class="placement">
      <img src="iitk-logo1.png" class="iitk-logo1">
      		<h1>GETBYCOMPANY</h1>
      		<form action="getbycompany">
           		<p> Company Name </p>
           		<input type="text" name="company" placeholder="Enter company name">

           		<input style="background-color:Red "type="submit" value="submit"><br>  		
      		</form> 
      	</div>	
</body>      		
</head>       
</html>