<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PlacementIITK</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
     <header>
           <div class="row">
               <div class="logo">
               <img src="logo.png">
           </div>
           <ul class="main-nav">
               <li class="active"><a href=""> HOME </a></li>
               <li><a href="gallery"> GALLERY </a></li>
               <li><a href="developer">ABOUT ME </a></li>             
           </ul>
          </div> 
           <div class="icon">
          &nbsp; <a href="posting"> POST</a>
           &nbsp;<a href="fetching">GET</a>
          &nbsp; <a href="deleting">DELETE</a>
           &nbsp;<a href="updating">UPDATE</a>
            </div>
            

           
           <div class="further">
           <a href="developer">FOR FURTHER QUERIES CONTACT DEVELOPER</a>
           </div>
     
     </header>
     
    
</body>
</html>