<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <!-- <div class="BtnWrapper">
        <div class="Bar-1"></div>
        <div class="Bar-2"></div>
        <div class="Bar-3"></div>
    </div> -->
    <div>
        <input name='' id="INPUT" placeholder="Type required url name">
        <button id="Btn">Finish</button>
        <a id="A_tag" href="#">Click to go to another page</a>
    </div>
    <script src="app.js"></script>
</body>

</html>