<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Students Placement Post</title>
    <link rel="stylesheet" type="text/css" href="updatee.css">
<body>
      <div class="Placement2020">
      <img src="iitk-logo1.png" class="iitk-logo1">
      		<h1>Placement2020</h1>
      		<form action="updatestudent">
           		<p> Name </p>
           		<input type="text" name="name" placeholder="Enter student name">
           		<p> Company </p>
           		<input type="text" name="company" placeholder="Enter company name">
           		<p> Branch </p>
           		<input type="text" name="branch" placeholder="Enter student branch">
           		<p> Profile</p>
           		<input type="text" name="profile" placeholder="Enter job profile">
           		<p> CTC </p>
           		<input type="text" name="ctc" placeholder="Enter student ctc">
           		<p>Password </p>
           		<input type="text" name="password" placeholder="create the password">
           		<input style="background-color:Red "type="submit" value="submit"><br>  		
      		</form> 
      	</div>	
</body>      		
</head>       
</html>